@using _02__Luniakina.Models;
@model _02__Luniakina.Models.Person
@{
    Layout = "_Layout";
    ViewData["Title"] = "Person";
}
@section Age {
    <div>
        <h1>Hello, @Model.Name!</h1>
        <p>


            <label>Your age: @Model.Age</label><br />

            @if (Person.IsBirthday(Model.BirthDate))
            {
                <label>Happy Birthday!!! You are awesome!</label><br />
            }

            <label>Your name: @Model.Name</label><br />

            <label>Your date of birth: @Model.BirthDate.ToLongDateString()</label><br />

            <label>Your lastname: @Model.LastName</label><br />

            <label>Your zodiac sign: @Model.ZodiacSunSign</label><br />

            <label>Your Chinese zodiac sign: @Model.ZodiacChineseSign</label><br />

            <label>
                You are
                @if (!Person.IsAdult(Model.BirthDate))
                {
                    <label> not </label>
                }
                adult!
            </label><br />

            <label>
                Today is
                @if (!Person.IsBirthday(Model.BirthDate))
                {
                    <label> not </label>
                }
                your birthday!
            </label><br />
        </p>

    </div>
}




