@*@model _02__Luniakina.Models.Person*@
@using _02__Luniakina.Models;
@using System.Web;
@using System.Web.Helpers;
@using System.Web.Helpers;

@model _02__Luniakina.Models.Users

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Person";

}


<form asp-action="Index" asp-controller="Home" method="post" id="personForm" class="formm">
    @Html.ValidationSummary()

    <label><b>Name: </b></label>
    <input class="namee" type="text" name="Name" /><br />

    <label><b>Last Name: </b></label>
    <input class="lastnamee" type="text" name="LastName" /><br />

    <label><b>E-mail: </b></label>
    <input class="emaill" type="email" name="EMail" /><br />

    <label><b>Date of birth: </b></label>
    <input class="birthdatee" type="date" name="BirthDate" /><br />

    <button type="submit" form="personForm" disabled class="submitt">Proceed</button><br />

</form>

<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Day of Birth</th>
        <th>Age</th>
        <th>Sun Sign</th>
        <th>Chinese Sign</th>
        <th>Is adult?</th>
        <th>Is birthday today?</th>
    </tr>
    @foreach (var user in Model.UsersList)
    {
<tr>
    <td>1</td>
    <td>@user.Name</td>
    <td>@user.LastName</td>
    <td>@user.BirthDate.ToLongDateString()</td>
    <td>@user.Age</td>
    <td>@user.ZodiacSunSign</td>
    <td>@user.ZodiacChineseSign</td>
    <td>@Person.IsAdult(user.BirthDate)</td>
    <td>@Person.IsBirthday(user.BirthDate)</td>
    <td>

    </td>
</tr>
    }
</table>


